<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">

      <!-- Panel Heading with Search & New Contact Button -->
      <div class="panel-heading">
        <div class="row">
          <span class="title pad-left-right">Contacts</span>
        </div>
        <div class="row">
          <div class="input-group pull-left pad-left-right col-xs-7">
            <input
              #searchBox
              type="text"
              class="form-control"
              placeholder="Enter a search value"
              (keyup)="search(searchBox.value)" />
            <span
              class="glyphicon glyphicon-search input-group-addon"
              (click)="search(searchBox.value)">
            </span>
          </div>
          <div class="pull-right pad-left-right">
            <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div
          class="col-xs-12 contact-list"
          cdkDropList
          id="contactsList"
          [cdkDropListData]="contacts"
          [cdkDropListConnectedTo]="['groupList']">

          <cms-contact-item
            *ngFor="let contact of contacts; trackBy: trackById"
            [contact]="contact"
            cdkDrag
            [cdkDragData]="contact">
          </cms-contact-item>

        </div>
      </div>

    </div>
  </div>
</div>
