<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ editMode ? 'Edit Document' : 'Add Document' }}</h3>
  </div>
  <div class="panel-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group" [ngClass]="{'has-error': name.invalid && name.touched}">
        <label for="name">Document title</label>
        <input
          type="text"
          id="name"
          class="form-control"
          name="name"
          required
          [(ngModel)]="document.name"
          #name="ngModel" />
      </div>

      <div class="form-group">
        <label for="description">Document description</label>
        <input
          type="text"
          id="description"
          class="form-control"
          name="description"
          [(ngModel)]="document.description" />
      </div>

      <div class="form-group" [ngClass]="{'has-error': url.invalid && url.touched}">
        <label for="url">Document URL</label>
        <input
          type="url"
          id="url"
          class="form-control"
          name="url"
          required
          [(ngModel)]="document.url"
          #url="ngModel" />
      </div>

      <div
        *ngIf="(name.invalid && name.touched) || (url.invalid && url.touched)"
        class="alert alert-danger">
        The Document title and Document URL are required.
      </div>

      <!-- Buttons -->
      <div class="form-group text-right">
        <button type="submit" class="btn btn-success" [disabled]="f.invalid">Save</button>
        <button type="button" class="btn btn-primary" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
