<div class="panel panel-default">
  <div class="panel-body">
    <form #f="ngForm" (ngSubmit)="onSendMessage(f)" novalidate>
      <div class="form-group">
        <label for="subject">Subject</label>
        <input
          type="text"
          id="subject"
          class="form-control"
          name="subject"
          required
          maxlength="120"
          [(ngModel)]="f.value.subject"
          #subject="ngModel">
        <div *ngIf="subject.invalid && subject.touched" class="text-danger">
          Subject is required.
        </div>
      </div>

      <div class="form-group">
        <label for="msgText">Message</label>
        <input
          type="text"
          id="msgText"
          class="form-control"
          name="msgText"
          required
          maxlength="255"
          [(ngModel)]="f.value.msgText"
          #msgText="ngModel">
        <div *ngIf="msgText.invalid && msgText.touched" class="text-danger">
          Message text is required.
        </div>
      </div>

      <div class="text-right">
        <button class="btn btn-success" type="submit" [disabled]="f.invalid">Send</button>
        <button class="btn btn-danger" type="button" (click)="onClear(f)">Clear</button>
      </div>
    </form>
  </div>
</div>
