<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Documents</span>
      <a [routerLink]="['new']" class="btn btn-success pull-right">Add Document</a>
    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <div
        *ngFor="let document of documents; trackBy: trackById"
        class="col-xs-12 col-sm-6 col-md-4">
        <a
          [routerLink]="['/documents', document.id]"
          routerLinkActive="active"
          class="list-group-item text-center">
          {{ document.name }}
        </a>
      </div>
    </div>
  </div>
</div>
